body {
  background-color: #BDC3C7;
}

#myModal {
  background-color: #7F8C8D;
}
.modal-body {
  height: 100%;
  width: auto;
}

.side {
  display: none;

  position: relative;
  top: 3em;
  text-align: center;
  padding: 1em;
  border-radius: 10px;

  background-color: whitesmoke;
}

.content {
  display: none;

  position: relative;
  top: 5em;
  padding: 2em;
  border-radius: 10px;

  background-color: whitesmoke;
}

.search {
  text-align: center;
  top: 2em;

  position: relative;
}

#searchBox {
  overflow: scroll;
}

.searchContent {
  margin-top: 1em;
  margin-left: 1em;
}

.preview {
  margin-top: .5em;
  margin-bottom: 1em;
}
