/*.container {
  position: relative;
  width: 964px;
  height: 900px;
}

.search {
  text-align: center;
}
.sidePanel {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 1px solid whitesmoke;
  top: 5em;
}

.previewPanel {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid whitesmoke;
  float: left;
}

.content {
  position: absolute;
  border: 1px solid whitesmoke;
  left: 50%;
  overflow: scroll;
}*/